<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{template.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org">

<head>

    <title>Home</title>
</head>
<body>
<div layout:fragment="conteudo">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 th:text="${msg}"></h2>
            </div>
        </div>

<!--        <div class="row">-->
<!--            <div class="col">-->
<!--                <h1>Format ISO</h1>-->
<!--                <p th:text="${#dates.formatISO(standardDate)}"></p>-->
<!--                <p th:text="${#temporals.formatISO(localDateTime)}"></p>-->
<!--                <p th:text="${#temporals.formatISO(localDate)}"></p>-->
<!--                <p th:text="${#temporals.formatISO(timestamp)}"></p>-->

<!--                <h1>Format manually</h1>-->
<!--                <p th:text="${#dates.format(standardDate, 'dd-MM-yyyy HH:mm')}"></p>-->
<!--                <p th:text="${#temporals.format(localDateTime, 'dd-MM-yyyy HH:mm')}"></p>-->
<!--                <p th:text="${#temporals.format(localDate, 'MM-yyyy')}"></p>-->


    </div>
</div>
</body>
</html>


